<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <title></title>
    <script src="fonts/typeface-0.15.js"></script>
    <script src="fonts/helvetiker_regular.typeface.js"></script>
    <script src="fonts/helvetiker_bold.typeface.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='stylesheets/mapspice.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/leaflet.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/app.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href='stylesheets/animations.css' rel='stylesheet' type='text/css'>


    <script src='javascripts/angular/angular.js'></script>
    <script src='javascripts/angular/angular-route.js'></script>
    <script src="/javascripts/angular/angular-animate.js"></script>
    <script src='javascripts/angular/ui-bootstrap.min.js'></script>
    <script src='javascripts/mapspice/mapspice.js'></script>
    <script src='javascripts/mapspice/leaflet.js'></script>
    <script src='javascripts/mapspice/leaflet-src.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="javascripts/map-project.js" type="application/javascript"></script>
    <script src='javascripts/main.js'></script>
    <script src='javascripts/mapService.js'></script>
    <script src='javascripts/angularApp.js'></script>
    <script src='javascripts/questions.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src='javascripts/appAnimations.js'></script>


</head>
<body>
<div id="map"></div>
<div ng-view></div>
</body>
</html>